html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  height: 100svh; /* Rule 1 */
  display: flex;
  flex-direction: column;
}

:root {
  --font-size: 1.4rem;
  --word-spacing: 0.1em;
  --letter-spacing: 1.4em;
  --line-height: 1;
  --scaler-cap: 3rem;
}

.scaler-cap {
  font-size: min(var(--reader-font-size), var(--scaler-cap));
}
