html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  height: 100svh; /* Rule 1 */
  display: flex;
  flex-direction: column;
}

:root {
  --reader-font-size: 1.4em;
  --reader-word-spacing: 0.1em;
  --reader-line-spacing: 1.4;
}
