html,
body,
#root {
  height: 100%;
  margin: 0;
  outline-color: limegreen;
}

.app {
  height: 100svh; /* Rule 1 */
  display: flex;
  flex-direction: column;
}

:root {
  --font-size: 1.4rem;
  --word-spacing: 0.2em;
  --letter-spacing: 0em;
  --line-height: 1.4;
  --scaler-cap: 3rem;
}

.scaler-cap {
  font-size: min(var(--font-size), var(--scaler-cap));
}

:focus-visible {
  outline: 3px solid #000;
  box-shadow: 0 0 0 6px #ffcc00;
  z-index: 10;
  position: relative;
}
