/* ========================================
   Text panel controls
======================================== */

.text-panel-controls {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  background-color: rgb(50, 54, 53);
  flex-shrink: 0; /* Prevent collapse */
  border-radius: 999px;
  padding: 1%;
}
/* break lines */
.text-panel-controls > div {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.text-panel-controls button {
  /* padding: 0.3rem 0.6rem; */
  min-width: 48px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 2px;
}
@media (orientation: portrait) {
  .text-panel-controls {
    border-radius: 0px;
  }
}
