.navigate-back-button {
  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: none;

  background: #ee5d5d; /* bright red */
  color: white; /* white arrow */

  cursor: pointer;

  box-shadow:
    0 4px 0 #b30000,
    /* bottom depth */ 0 6px 10px rgba(0, 0, 0, 0.2);

  transition: transform 0.05s ease;
}
.navigate-back-button:active {
  transform: translateY(3px);
  box-shadow:
    0 1px 0 #b30000,
    0 3px 6px rgba(0, 0, 0, 0.2);
}
