.preload-icon-overlay {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
