:root {
  --card-height: 190px;
  --series-list-height: 0;

  /* Colours */
  --color-bg-soft: #ccc;
  --color-bg-white: #a7aaa7;
  --color-border-dark: #1b1b1b;
  --color-border-light: rgb(94, 92, 92);
}

/* Base Layout (mobile first) */
.series-index-wrapper {
  display: flex;
  min-height: 100svh;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  background-color: bisque;
}

.series-list {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--color-border-dark);
  flex: 1 1 auto;
  min-height: 0; /* critical */
  min-width: 0;
}
.series-row-wrapper {
  display: flex;
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
  margin: 0.5rem;
  border: 1px solid #3b3b3b;
  background-color: white;
}
.series-list * {
  border-radius: 12px;
}

.series-list h1 {
  padding-left: 1rem;
}

.series-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.6rem;
  scroll-behavior: smooth;
  margin: 1rem;
  flex: 1 1 auto;
  margin-bottom: 1rem;
  min-height: 0;
  min-width: 0;
  overflow: auto;
}

.series-row > * {
  flex: 0 1 auto;
}

/* Card */
.series-card {
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
  min-height: 50svh;
  cursor: pointer;
  color: white;

  /* min-width: 300px;
  max-width: 700px; */

  padding: 0;

  flex: 0 0 auto; /* ← critical */
  margin: 0; /* ← remove auto centering */
}

/* @media (min-width: 900px) and (orientation: portrait) {
  .series-row-wrapper {
    max-width: 800px;
    margin: auto;
  }
} */
.series-card img {
  flex: 1 1 auto;
  padding: 4px;
  min-height: 0;
  object-fit: fill;
}
.series-card span {
  font-weight: 600;
  line-height: 1.2;
}

@media (orientation: portrait) {
  .series-row {
    flex-direction: column;
  }
  .series-card {
    width: 100%; /* your vertical control */
    aspect-ratio: 3/2; /* width derives from height */
    flex: 0 0 auto; /* prevent stretching */
    margin: 0;
  }
}
@media (orientation: landscape) {
  .series-card {
    height: 100%; /* your vertical control */
    aspect-ratio: 2 / 3; /* width derives from height */
    flex: 0 0 auto; /* prevent stretching */
    margin: 0;
  }
}
@media (orientation: portrait) and (min-width: 950px) {
  .series-row-wrapper {
    width: 900px;
    margin: auto;
  }
}
@media (orientation: portrait) and (min-width: 650px) {
  .series-row {
    margin-inline: 2rem;
  }
}
