/* ========================================
   Text panel controls
======================================== */

.text-panel-controls {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  background-color: rgb(50, 54, 53);
  flex-shrink: 0; /* Prevent collapse */
  border-radius: 999px;
  padding: 1%;
  flex-direction: column;
}

/* rows */
.text-panel-controls > div {
  display: flex;
  flex-direction: row;
  margin: auto;
  border: 1px solid lime;
  gap: 2rem;
  justify-content: space-around;
}
/* pairs */
.text-panel-controls > div > div {
  display: flex;
  flex-direction: row;
  margin: auto;
  border: 1px solid pink;
  gap: 0.3rem;
}
.text-panel-controls button {
  min-width: 48px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 2px;
}
@media (orientation: portrait) {
  .text-panel-controls {
    border-radius: 0px;
  }
}
