/* ========================================
   Text panel controls
======================================== */

.text-controls-panel {
  display: flex;
  gap: 1rem;
  background-color: rgb(143, 143, 143);
  flex-shrink: 0; /* Prevent collapse */
  padding: 1%;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.text-controls-panel * {
  border-color: rgb(46, 45, 45);
  border-radius: 6px;
}

/* rows */
.text-controls-panel > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.text-controls-panel button {
  cursor: pointer;
}

.reset-button {
  background: #eb7878;
  color: rgb(20, 20, 20);
}
.colour-hanger,
.reset-button {
  padding: 5px 15px;
}

.panel-close-button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #a33d3d;
  background: #ee5d5d; /* bright red */
  color: white; /* white arrow */
  position: absolute;
  top: 3px;
  right: 3px;
}
.scaler-pair button {
  border: none;
  padding: 2px 6px;
  min-width: 48px;
  margin: 0.1rem 0.1rem;
}
@media (orientation: portrait) {
  .text-controls-panel {
    display: flex;
    flex: 1 0 auto;
  }
}

@media (orientation: landscape) {
  .text-controls-panel {
    margin-left: 11.7%;
    margin-right: 2.3%;
    margin-top: 4%;
    margin-bottom: 5%;
    flex: 1 1 auto;

    display: flex;
    min-height: 0;
    justify-content: space-evenly;
  }
}
