.text-controls-toggle {
  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: none;

  background: #ecc93d; /* bright red */
  color: white; /* white arrow */

  cursor: pointer;
  padding: 3px;
  box-shadow:
    0 2px 0 #8d792a,
    /* bottom depth */ 0 6px 10px rgba(99, 100, 5, 0.2);

  transition: transform 0.05s ease;
}
.text-controls-toggle img {
  object-fit: cover;
}
.text-controls-toggle:active {
  transform: translateY(3px);
  box-shadow:
    0 1px 0 #4b4014,
    0 3px 6px rgba(0, 0, 0, 0.2);
}
