/* ========================================
   Text panel controls
======================================== */

.text-controls-panel {
  display: flex;
  gap: 1rem;
  background-color: rgb(50, 54, 53);
  flex-shrink: 0; /* Prevent collapse */
  padding: 1%;
  flex-direction: column;
  flex-wrap: wrap;
}

/* rows */
.text-controls-panel > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.text-controls-panel button {
  min-width: 68px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 2px;
}
.reset-button {
  background: #eb7878;
  color: rgb(20, 20, 20);
}
.colour-hanger,
.reset-button {
  padding: 0.5rem 1.5rem;
}

@media (orientation: portrait) {
  .text-controls-panel {
    display: flex;
    flex: 1 0 auto;
    color: #faebd7;
  }
}

@media (orientation: landscape) {
  .text-controls-panel {
    margin-left: 11.7%;
    margin-right: 2.3%;
    margin-top: 4%;
    margin-bottom: 5%;
    flex: 1 1 auto;

    display: flex;
    min-height: 0;
    justify-content: space-evenly;
  }
  .text-controls-panel > div {
    justify-content: space-evenly;
    align-items: center;
  }
}
